<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>sven-kra.us</title>

    <link href="{$basePath}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{$basePath}/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="{$basePath}/css/animate.css" rel="stylesheet">
    <link href="{$basePath}/css/style.css" rel="stylesheet">
    <style>
        html, body {
            height: inherit;
        }

        .logo-name { 
            color: #cccccc; 
            font-size: 100px;
            letter-spacing: 0px;
            text-align: center;
            margin-top: 50px;
        }

        .logo-bottom {
            height: 0;
            text-align: center;
            color: #cccccc;
            font-size: 25px;
            letter-spacing: 4px;
            position: relative;
            top: -103px;
            left: 50px;
        }

        .login-error {
            color: #CC5965;
            margin-bottom: 10px;
        }

    </style>
</head>

<body class="gray-bg">
    <div>
        <h1 class="logo-name">sven-kra.us</h1>
        <p class="logo-bottom">admin</p>
    </div>
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <p>Přihlášení do administrace</p>
            {form signInForm, class => m-t, role => form}
                {if $form->hasErrors()}
                    <div class="login-error">{$form->errors[0]}</div>
                {/if}
                <div class="form-group">
                    {input username, class => form-control, placeholder => "Uživatelské jméno"}
                </div>
                <div class="form-group">
                    {input password, class => form-control, placeholder => "Heslo"}
                </div>
                {input send, class => "btn btn-primary block full-width m-b"}

            {/form}
            <p class="m-t"> <small>Muktakéša dás &copy; 2017</small> </p>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="{$basePath}/js/jquery-2.2.3.js"></script>
    <script src="{$basePath}/js/bootstrap.min.js"></script>

</body>

</html>